{% extends "layout.html" %}

{% block title %}
<title>Tarea Yudeh</title>
{% endblock %}


{% block content %}
<!--<div class="container text-center py-3">-->
<!--    <h3>Ejercicio Planteado</h3>-->
<!--    <p class="enunciado  ">Una empresa del medio, dedicada al ensamblado de aparatos de aparatos de telefonía,-->
<!--        cuenta actualmente con 9 operarios y cada uno con una producción de 28 aparatos terminados.-->
<!--        Se ensamblan tantos aparatos como lo exija la demanda. La demanda tiene la siguiente probabilidad-->
<!--        estadística:</p>-->
<!--</div>-->
<div class="container w-50 text-center py-3">
    <legend class="text-left header">Tabla Demanda Acumulada</legend>
    {{data2|safe}}
</div><br>
<div class="container w-75 text-center py-3">
    <p>El siguiente paso es agregar los valores máximos y mínimos de las respectivas probabilidades:</p>
    <legend class="text-left header">Valores Mínimos y Máximos</legend>
    {{data3|safe}}
</div><br>
<p class="text-center" >A razon de cumplir con lo requerido se trabajará con los mismos números aleatorios proporcionados por el docente.</p>
<div class="container w-75 text-center py-3">
    <legend class="text-left header">Números Aleatorios.</legend>
    {{nuevata|safe}}
</div><br>

<p class="text-center" >A continuacion de mostrará la tabla respectiva junto a la simulacion y el número aleatorio:</p>
<div class="container w-75 text-center py-3">
    <legend class="text-left header">Tabla de simulación y números aleatorios.</legend>
    {{data4|safe}}
</div><br>

<div class="container w-75 text-center py-3">
    <legend class="text-left header">Resultados:</legend>
    La cantidad total de productos es: {{data9}} <br>
    El promedio de las demandas es: {{data10}}
</div><br>





{% endblock %}